body{
    background-color: #FEBBA2;
    width: 100%;
}

#container-principal, .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

#container2{
    display: none;
}

#title-agendar{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: .1em .2em .1em .2em;
    border-radius: 90px 90px 0px 90px;;
    color: #FFFFFF;  
    background-color: #FE4400;
    width: 200px;
    cursor: default;
}

#title-consultar-agendamentos{
    display: none;
}


form{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#calendario{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: #A8A8D0;
}

#select-unidade, #input-data{
    border-radius: 15px;
    text-align: center;
    padding: .2em;
}

#select-unidade{
    background-color: #f6d8cd;
    color: #2A2962;
    width: 114px;
    font-size: 19px;
}

#input-data{
    margin-top: 5vh;
    background-color:#404099;
    color: #FFFFFF;
    font-size: 19px;
    border: none;
}

.input-unidade, .label-unidade{
    display: none;
}

#btn-agendar{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #FE4400;
    border-radius: 110px 0px 110px 110px;
    border: 0;
    width:88px;
    height: 88px;
    font-size: 19px;
    cursor: pointer;
    color: #FFFFFF;
}

#form-agendar:invalid #btn-agendar{
    opacity: 0.5;
    cursor: default;
}

#div-agendamentos{
    display:none;
}


@media only screen and (min-width: 768px){

    body{
        background-color: #2A2962;
    }

    #link-sair{
        font-weight: 900;
        text-decoration: none;
        color: #2A2962;
    }

    #container-principal{
        flex-direction: row;
        align-items: flex-start;
    }

    .container{
        width: 50%;
        align-items: center;
        margin-top: 2vh;
    }

    #title-agendar{
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding: .2em .3em .2em .3em;
        border-radius: 90px 90px 0px 90px;;
        color: #FFFFFF;  
        cursor: default;
        background-color: transparent;
        cursor: pointer;
    }

    form{
        margin-top: 1vh;
    }

    #calendario{
        margin-top: 0;
        width: 400px;
        height: 400px;
    }

    #select-unidade{
        display: none;
    }

    #div-inputs-unidade{
        display: flex;
        justify-content: center;
        width: 300px;
        margin-top: 1em;

    }

    .input-unidade, .label-unidade{
        display: inline;
        color: #FFFFFF;
    }

    .input-unidade{
        margin-right: .5em;
    }

    .label-unidade{
        margin-right: 2em;
    }

    #container2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        margin: 0 2em 0 2em;
    }

    #title-consultar-agendamentos{
        display: block;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding: .2em .3em .2em .3em;
        border-radius: 90px 90px 0px 90px;;
        color: #FFFFFF;  
        cursor: pointer;
    }

    #div-informacoes-dia{
        background-color: #A8A8D0;
        color: #2A2962;
        font-size: 25px;
        font-weight: 800;
        border-radius: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 413px;
        height: 193px;
        margin-top: 15vh;
    }

    #btn-agendar{
        margin-left: 100vw;
        margin-top: 0;
        margin-bottom: 0;
    }

    #div-agendamentos{
        justify-content: space-around;
        margin-top: 20vh;

    }

    #div-futuros-anteriores{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 20vh;
    }

    #select-futuros, #select-anteriores{
        background-color: #A8A8D0;
        border-radius: 30px;
        padding: .3em;
        text-align: center;
        font-weight: 700;
        cursor: pointer;
    }

    #filtrar-agendamentos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #select-ano, #select-mes, #select-unidade-agendada{
        background-color: #A8A8D0;
        border-radius: 30px;
        padding: .3em;
        text-align: center;
        font-weight: 700;
    }

}