body{
    background-color: #d3d3df;
    color: #2A2962;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 350px 350px;
}

.container{
    width: 100vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

h1{
    width: 80%;
    padding: .5em;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
    margin-left: 7.2%;
}

#div-editar-dados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26vh;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#opcoes-menu {
    align-items: stretch;
}

#descricao {
    text-align: center;
    font-size: 1.1rem;
    width: 70vw;
    padding: .1em;
    padding-left: 1rem;
}

#div-email{
    height: 1rem;            
    width: 16rem;            
    padding: 16px;
    text-align: center;
    position: absolute;
}

h4{  
    position: relative; 
    line-height: 2rem;
}


#voltar{
    margin-bottom: 6vh;
}

#img-suporte {
    width: 12rem;
    height: 24rem; 
    padding: 1.5rem;
}