body{
    background-color: #FE4400;
    text-align: center;
}

main{
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#img-landing-page{
    height: 350px;
    margin-left: 6rem;
}

#logo{
    margin-bottom: 6vh;
    width: 12rem;
}

@media only screen and (min-width: 768px){

    #img-landing-page{
        height: 510px;
        margin-left: 6rem;
        margin-top: 4rem;
    }
    
    #logo{
        margin-bottom: 6vh;
        width: 22rem;
    }
    
}