body{
    background-color: #d3d3df;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 448px 427px;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-title-editar-dados{
    display: flex;
    justify-content: center; 
    margin-bottom: 2vh;
}

h1{
    border-radius: 40px 40px 0 40px;
    width: 290px;
    padding: .8em .3em;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1vh;
    margin-top: .5rem;
}

h1, h3{
    cursor: default;
}

#div-editar-dados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 4vh;

    height: 18rem;          
    width: 18rem;           
    padding: 16px;
    text-align: center;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 1.6em;
    color: #2A2962;
}

img {
    opacity: 0.5;
}

input, label, select, button{
    display: block;
    color: #262561;
    background-color: #d3d3df;
}

input, select{
    margin-top: 2em;
    margin-bottom: .5em;
    border: none;
    font-size: 20px;
    padding: 0 .3em 0 .3em;
    border-radius: 20px;
}

input{
    width: 286px;
    height: 34px;
    background-color: #d3d3df;
    border-bottom: 1px solid #26256170;
}

select{
    height: 27px;
    text-align: center;
}

label{
    font-size: 19px;
    margin-bottom: 1em;
    color: #D03800;
}

label a{
    text-decoration: none;
    color: #D03800;
}

a{
    color: #D03800;
}

button{
    border: none;
    margin-top: 6vh;
    width: 230px;
    height: 60px;
    font-size: 20px;
    background-color: #d3d3df;
    color: #D03800;
}

@media only screen and (min-width: 768px){
    #header-desktop{
        background-color: #2A2962;
        margin-bottom: 10px;
    }

    #saudacao{
        color: #FFFFFF;
    }

    .container{
        height: 100%;
        align-items: center;
        padding: 6vh 0 0 0;
        width: 100%;
    }

    #div-title-editar-dados{ 
        margin-bottom: 2vh;
    }

    #div-editar-dados{
        margin-bottom: 0;
    }

    footer{
        color: #2A2962;
        font-weight: 900;
        margin-bottom: 6vh;
    }
}