body{
    background-color: #2A2962 ;
}

#img-menu{
    cursor: pointer;
    width: 40px;
    height: 40px;
}

p{
    text-align: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 1em;
}

h1{
    width: 175px;
    color:#fff;
    text-align: center;
    margin-bottom: 1em;
    font-size: 22px;
    height: 100%;
    cursor: default;
}

#select-futuros {
    background-color: #FE4400;
    border-radius: 30px;
    height: 30px;
    width: 16vh;
    margin-right: 1em;
    text-align: center;
}

#div-futuros-anteriores{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom:1em;
}

#select-futuros, #select-anteriores{
    cursor: pointer;
}

#select-ano {
    margin: 3px 100%;
}

#filtrar-agendamentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

select{
    width: 120px;
    height: 30px;
    padding: .1em;
    color: #36357E;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    margin: .2em;
    text-align: center;
}

ul{
    list-style: none;
}

li{
    width: 300px;
    height: 48px;
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    color: #36357E;
    font-size: 22px;
    font-weight: 500;
}

li button{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: #FE5517 solid 1px;
    color: #FE5517;
    font-size: 22px;
    text-align: center;
    padding: .3em;
}

#voltar {
    color:#fff;
}